{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="row mt-4">
                <div class="col-10 offset-1">
                    <p>
                        <a class="text-link" href="{% url 'products' %}"><i class="fa-solid fa-arrow-left"></i> Continue shopping</a>
                    </p>
                </div>
            </div>
            <div class="row text-uppercase text-center mt-3">
                <div class="col">
                    <h2>Shopping cart</h2>
                </div>
            </div>
            <div class="row">
                <div class="cart-container col-10 offset-1">
                    {% if cart_items %}
                        <!-- Delivery info -->
                        <div class="row my-3">
                            <div class="col">
                                {% if free_delivery_delta == 0 %}
                                    <p class="text-center"><i class="fa-solid fa-truck"></i> You have qualified for free delivery!</p>
                                {% else %}
                                    <p class="text-center"><i class="fa-solid fa-truck"></i> Spend ${{ free_delivery_delta }} more to get free delivery!</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <!-- Order information -->
                            <div class="col-12 col-md-4 order-md-last my-5 px-0 ps-md-3">
                                <h5 class="text-center mb-5">Order Info ({{ product_count }} items)</h5>
                                <div class="row">
                                    <div class="col-6">
                                        Cart Total:
                                    </div>
                                    <div class="col-6 text-end">
                                        ${{ total }}
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="col-6">
                                        Delivery:
                                    </div>
                                    <div class="col-6 text-end">
                                        {% if free_delivery_delta == 0 %}
                                            <del>${{ standard_delivery }}</del> <span class="ms-1">${{ delivery }}</span>
                                        {% else %}
                                            ${{ delivery }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row fw-6">
                                    <div class="col-7">
                                        Grand Total:
                                    </div>
                                    <div class="col-5 text-end">
                                        ${{ grand_total }}
                                    </div>
                                </div>
                                <a class="btn btn-green text-uppercase float-end mt-5" href="{% url 'checkout' %}"><i class="fa-solid fa-lock"></i> Secure checkout</a>
                            </div>
                            <!-- Loop over each product in cart -->
                            <div class="col-12 col-md-8">
                                {% for item in cart_items %}
                                    <div class="row bg-grey rounded border-black my-5">
                                        <div class="col-12 col-sm-6">
                                            {% if item.product.image %}
                                                <a href="{% url 'product_detail' item.product.category.slug item.product.slug %}">
                                                    <img class="cart-img w-100 fit-scale py-3" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                                </a>
                                            {% else %}
                                                <a href="{% url 'product_detail' item.product.category.slug item.product.slug %}">
                                                    <img class="cart-img w-100 fit-scale py-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="col-12 col-sm-6 my-3 pe-sm-4 d-flex flex-column">
                                            <div class="row">
                                                <div class="col-6">
                                                    {% if item.product.brand %}
                                                        <p class="text-muted mb-0">{{ item.product.brand }}</p>
                                                    {% endif %}
                                                </div>
                                                <div class="col-6 text-end">
                                                    <a class="text-white" href="{% url 'delete_from_cart' item.item_id %}">
                                                        <i class="fa-solid fa-trash-can"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a class="text-link" href="{% url 'product_detail' item.product.category.slug item.product.slug %}">
                                                <h4>{{ item.product.name }}</h4>
                                            </a>
                                            <!-- Rating goes here -->
                                            <!-- order item info -->
                                            <div class="row mt-auto">
                                                <div class="col-6">
                                                    Price:
                                                </div>
                                                <div class="col-6 text-end">
                                                    ${{ item.product.price }}
                                                </div>
                                            </div>
                                            <div class="row my-2">
                                                <div class="col-6">
                                                    Quantity:
                                                </div>
                                                <div class="col-6 text-end">
                                                    <!-- Form for updating item quantity -->
                                                    <form id="update-qty-form-{{ item.item_id }}" method="POST" action="{% url 'edit_cart' item.item_id %}">
                                                        {% csrf_token %}
                                                        <div class="input-group justify-content-end">
                                                            <div class="input-group-prepend">
                                                                <button class="btn btn-sm decrement-qty btn-green" id="decrement-qty_{{ item.item_id }}"
                                                                    data-item_id="{{ item.item_id }}" aria-label="Decrement item quantity">
                                                                    <i class="fa-solid fa-minus"></i>
                                                                </button>
                                                            </div>
                                                            <input class="form-control qty-input" type="number" name="quantity" value="{{ item.quantity }}"
                                                                min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}" aria-label="Item quantity input">
                                                            <div class="input-group-append">
                                                                <button class="btn btn-sm increment-qty btn-green" id="increment-qty_{{ item.item_id }}"
                                                                    data-item_id="{{ item.item_id }}" aria-label="Increment item quantity">
                                                                    <i class="fa-solid fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="row fw-6">
                                                <div class="col-6">
                                                    Total:
                                                </div>
                                                <div class="col-6 text-end">
                                                    ${{ item.item_total }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p class="text-center mt-5">Your cart is currently empty.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Back to top button -->
        <div>
            <a class="btt-link btn btn-green">
                <i class="fa-solid fa-arrow-up mt-2"></i>
            </a>
        </div>
    </main>

    <script type="text/javascript">
        document.querySelector('.btt-link').onclick = function() {
            window.scrollTo(0,0);
        };
    </script>

    <script src="{% static 'js/itemQuantityInput.js' %}"></script>
{% endblock %}