{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container my-5">
            <h2 class="text-center mb-5">FAQ</h2>
            <p class="text-center">If your question isn't answered below, feel free to contact us!</p>
            <p class="text-center"><i class="fa-solid fa-phone"></i> +46 123 456 789</p>
            <p class="text-center"><i class="fa-solid fa-envelope"></i> Hello@email.com</p>

            <h4 class="mt-5">Do you ship globally?</h4>
            <p>We ship to most countries globally for the moment. 
                If your country doesn't appear in the country dropdown at checkout, 
                feel free to contact us and we will help you!</p>
            <h4 class="mt-5">I ordered to the wrong product. Can I return it?</h4>
            <p>Our refund policy is valid for 14 days withing purchasing a product, 
                so if you wish to return a product, please contact us as soon as possible.</p>
            <h4 class="mt-5">What payment methods do you accept?</h4>
            <p>We accept most cards and have plans on expanding to other payment solutions. Keep an eye out for updates!</p>
            <h4 class="mt-5">How long can I expect the delivery to take?</h4>
            <p>Depending on where we are shipping, standard delivery usually takes around 3-5 days.</p>
            <h4 class="mt-5">Can I cancel my order after confirmation?</h4>
            <p>Please get in touch with us and we will try to help!</p>
            <h4 class="mt-5">My product was damaged in shipping. What do I do?</h4>
            <p>Please contact us with your order number at hand and we will help you!</p>
        </div>
    </main>
{% endblock %}