{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <!-- Hero Image / Carousel -->
        <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item bg-black active">
                    <!-- Image source: https://www.razer.com/pc -->
                    <img src="{% static 'images/razer-carousel.png' %}" class="d-block w-100" alt="Razer products">
                    <div class="carousel-caption text-start">
                        <h5 class="fs-3">Latest gear from Razer!</h5>
                        <a href="{% url 'products' %}?q=razer" class="btn btn-green my-3 text-uppercase">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item bg-black">
                    <!-- Image source: https://steelseries.com/gaming-headsets/arctis-9 -->
                    <img src="{% static 'images/steelseries-carousel.png' %}" class="d-block w-100" alt="Steelseries products">
                    <div class="carousel-caption text-start">
                        <h5 class="fs-3">Steelseries Arctis 9 & More!</h5>
                        <a href="{% url 'products' %}?q=steelseries" class="btn btn-green my-3 text-uppercase">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item bg-black">
                    <!-- Image source: https://blog.logitech.com/2019/08/15/g915-g815-gaming-keyboard/ -->
                    <img src="{% static 'images/logitech-carousel.png' %}" class="d-block w-100" alt="Logitech products">
                    <div class="carousel-caption text-start">
                        <h5 class="fs-3">Gaming keyboards from Logitech!</h5>
                        <a href="{% url 'products' %}?q=logitech" class="btn btn-green my-3 text-uppercase">Shop now</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHome"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Computers section -->
        <section>
            <div class="row gx-0">
                <div class="col-10 offset-1">
                    <div class="row">
                        <div class="col-md-6 py-sm-5 py-3 px-0 text-center">
                            <a href="{% url 'category' 'desktops' %}">
                                <!-- Image source: https://unsplash.com/photos/Db-tzBhd500 -->
                                <img src="{% static 'images/gaming-pc.png' %}" class="img-fluid fit-cover" alt="Image of gaming pc">
                            </a>
                        </div>
                        <div class="col-md-6 order-md-first py-5 d-flex flex-column align-items-center justify-content-center">
                            <h2 class="text-uppercase">PC & Laptops</h2>
                            <p class="text-center">
                                Want the meanest gaming rig on the market? 
                                We have a variety of desktops for the ultimate experience.
                                Looking for a more portable option? Check out our powerful gaming laptops.
                            </p>
                            <div class="d-flex w-100 justify-content-evenly my-3">
                                <a href="{% url 'category' 'desktops' %}" class="btn btn-green mx-3 text-uppercase">Desktops</a>
                                <a href="{% url 'category' 'laptops' %}" class="btn btn-green mx-3 text-uppercase">Laptops</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Peripherals section -->
        <section>
            <div class="row gx-0 bg-grey">
                <div class="col-10 offset-1 text-center">
                    <h3 class="text-uppercase mt-5">Peripherals</h3>
                    <p class="mt-4 mb-5">
                        A powerful rig needs high-performance gear to match. 
                        Understand what it means to wield the unfair advantage as you 
                        experience the best gaming peripherals on the market.
                    </p>
                </div>
            </div>
            <div class="row gx-0 my-3">
                <div class="col-10 offset-1">
                    <div class="row text-center">
                        <div class="col-md-6 py-md-4 py-3 px-0 img-container">
                            <!-- Image source: https://pixabay.com/photos/keyboard-technology-office-internet-4759500/ -->
                            <img src="{% static 'images/keyboard.jpg' %}" class="img-fluid fit-cover" alt="Image of gaming keyboard">
                            <a href="{% url 'category' 'keyboards' %}" class="btn btn-green my-3 text-uppercase">Shop keyboards</a>
                        </div>
                        <div class="col-md-6 py-md-4 py-3 px-0 img-container">
                            <!-- Image source: https://unsplash.com/photos/xo-MJALGPrI -->
                            <img src="{% static 'images/mouse.jpg' %}" class="img-fluid fit-cover" alt="Image of gaming mouse">
                            <a href="{% url 'category' 'mice' %}" class="btn btn-green my-3 text-uppercase">Shop mice</a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-6 py-md-4 py-3 px-0 img-container">
                            <!-- Image source:https://unsplash.com/photos/aiWjNA46Urc -->
                            <img src="{% static 'images/gaming-audio.png' %}" class="img-fluid fit-cover" alt="Image of gaming headsets">
                            <a href="{% url 'category' 'audio' %}" class="btn btn-green my-3 text-uppercase">Shop Audio</a>
                        </div>
                        <div class="col-md-6 py-md-4 py-3 px-0 img-container">
                            <!-- Image source: https://unsplash.com/photos/PruhDU1m1Yk -->
                            <img src="{% static 'images/gaming-chair.png' %}" class="img-fluid fit-cover" alt="Image of gaming chair">
                            <a href="{% url 'category' 'chairs' %}" class="btn btn-green my-3 text-uppercase">Shop Chairs</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}