{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item bg-black active">
                    <!-- Image source: https://www.razer.com/pc -->
                    <img src="{% static 'images/razer-carousel.png' %}" class="d-block w-100" alt="Razer products">
                    <div class="carousel-caption text-start">
                        <h5 class="fs-3">Latest gear from Razer!</h5>
                        <a href="" class="btn btn-green fw-6 my-3 text-uppercase">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item bg-black">
                    <!-- Image source: https://steelseries.com/gaming-headsets/arctis-9 -->
                    <img src="{% static 'images/steelseries-carousel.png' %}" class="d-block w-100" alt="Steelseries products">
                    <div class="carousel-caption text-start">
                        <h5 class="fs-3">Steelseries Arctis 9 & More!</h5>
                        <a href="" class="btn btn-green fw-6 my-3 text-uppercase">Shop now</a>
                    </div>
                </div>
                <div class="carousel-item bg-black">
                    <!-- Image source: https://blog.logitech.com/2019/08/15/g915-g815-gaming-keyboard/ -->
                    <img src="{% static 'images/logitech-carousel.png' %}" class="d-block w-100" alt="Logitech products">
                    <div class="carousel-caption text-start">
                        <h5 class="fs-3">Gaming keyboards from Logitech!</h5>
                        <a href="" class="btn btn-green fw-6 my-3 text-uppercase">Shop now</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselHome"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>
{% endblock %}