{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container">
            <div class="row text-uppercase text-center mt-5">
                <div class="col">
                    <h2>Profile</h2>
                </div>
            </div>
            <div class="row my-5">
                <div class="profile-form col-md-6 col-12 mx-auto">
                    <h3>Default Information</h3>
                    <form id="profile-form" method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <fieldset>
                            <legend class="fs-5">Details</legend>
                            <div class="mb-4">
                                {{ details_form.first_name }}
                            </div>
                            <div class="mb-4">
                                {{ details_form.last_name }}
                            </div>
                            <div class="mb-4">
                                {{ details_form.email }}
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="fs-5">Delivery Info</legend>
                            <div class="mb-4">
                                {{ delivery_form.phone_number }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.street_address_1 }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.street_address_2 }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.postcode }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.city }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.country }}
                            </div>
                        </fieldset>
                        <div>
                            <button type="submit" class="btn btn-green mt-3" id="profile-submit">
                                Update Profile
                            </button>
                            <!-- <div class="row text-center mt-3">
                                <div class="col-6 toast-btn mb-xs-3">
                                    <a class="btn btn-green w-100" href="#">Delete Profile</a>
                                </div>
                                <div class="col-6 toast-btn">
                                    <button type="submit" class="btn btn-green w-100" id="profile-submit">
                                        Update Profile
                                    </button>
                                </div>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="order-history col-md-6 col-12 mx-auto mt-5 mt-md-0">
                    <h3 class="mb-4">Order History</h3>
                    {% if orders %}
                        <div class="row mb-3">
                            <div class="col-5">
                                <p class="fw-6 fs-5">Order No</p>
                            </div>
                            <div class="col-4">
                                <p class="fw-6 fs-5">Date</p>
                            </div>
                            <div class="col-3">
                                <p class="fw-6 fs-5">Total</p>
                            </div>
                        </div>
                        {% for order in orders %}
                            <div class="row">
                                <div class="col-5">
                                    <p>
                                        <a class="underline-link" title="{{ order.order_number }}" href="">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p>
                                        <a class="underline-link" href="">{{ order.date.date }}</a>
                                    </p>
                                </div>
                                <div class="col-3">
                                    <p>
                                        <a class="underline-link" href="">${{ order.grand_total }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>You have no previous orders on this account</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/countryField.js' %}"></script>
{% endblock %}