{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container">
            <div class="row text-uppercase text-center mt-5">
                <div class="col">
                    <h2>Profile</h2>
                </div>
            </div>
            <div class="row my-5">
                <div class="profile-form col-md-6 col-12 mx-auto">
                    <h3>Default Information</h3>
                    <form id="profile-form" method="POST" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <fieldset>
                            <legend class="fs-5">Details</legend>
                            <div class="mb-4">
                                {{ details_form.first_name }}
                            </div>
                            <div class="mb-4">
                                {{ details_form.last_name }}
                            </div>
                            <div class="mb-4">
                                {{ details_form.email }}
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend class="fs-5">Delivery Info</legend>
                            <div class="mb-4">
                                {{ delivery_form.phone_number }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.street_address_1 }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.street_address_2 }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.postcode }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.city }}
                            </div>
                            <div class="mb-4">
                                {{ delivery_form.country }}
                            </div>
                        </fieldset>
                        <div>
                            <button type="submit" class="btn btn-green mt-3" id="profile-submit">
                                Update Profile
                            </button>
                        </div>
                    </form>
                    <div class="d-flex justify-content-between mt-5">
                        <a href="{% url 'account_change_password' %}" class="text-link">Change Password</a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ request.user.id }}" class="text-link text-danger ms-1">Delete Account</a>

                        <!-- Modal for deleting user -->
                        <div class="modal fade" id="modal-{{ request.user.id }}" tabindex="-1"
                            aria-labelledby="delete-user-modal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content bg-grey border-black">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="delete-user-modal">Delete Account</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete your account?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-green" data-bs-dismiss="modal">Cancel</button>
                                        <form action="{% url 'delete_user' request.user.id %}" method="POST"
                                            class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="order-history col-md-6 col-12 mx-auto mt-5 mt-md-0">
                    <h3 class="mb-4">Order History</h3>
                    {% if orders %}
                        <div class="row mb-3">
                            <div class="col-5">
                                <p class="fw-6 fs-5">Order No</p>
                            </div>
                            <div class="col-4">
                                <p class="fw-6 fs-5">Date</p>
                            </div>
                            <div class="col-3">
                                <p class="fw-6 fs-5">Total</p>
                            </div>
                        </div>
                        {% for order in orders %}
                            <div class="row">
                                <div class="col-5">
                                    <p>
                                        <a class="underline-link" title="{{ order.order_number }}" href="{% url 'order_history' order.order_number %}">
                                            {{ order.order_number|truncatechars:8 }}
                                        </a>
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p>
                                        <a class="underline-link" href="">{{ order.date.date }}</a>
                                    </p>
                                </div>
                                <div class="col-3">
                                    <p>
                                        <a class="underline-link" href="">${{ order.grand_total }}</a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>You have no previous orders on this account</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/countryField.js' %}"></script>
{% endblock %}