/* --------------- General styling --------------- */

body {
    font-family: 'rubik', sans-serif;
    font-weight: 400;
}

.btn-green {
    background-color: #35C71E;
    font-weight: 600;
}

.btn-green:hover {
    background-color: #212228;
    color: #35C71E;
}

.active {
    text-decoration: underline;
}

.bg-grey {
    background-color: #212228;
}

.bg-lt-grey {
    background-color: #33363f;
}

.text-link {
    color: #35C71E;
    text-decoration: none;
}

.text-link:hover {
    color: #35C71E;
    text-decoration: underline;
}

.underline-link {
    color: white;
    text-decoration: none;
}

.underline-link:hover {
    color: white;
    text-decoration: underline;
}

.fit-cover {
    object-fit: cover;
}

.fit-scale {
    object-fit: scale-down;
}

.form-select {
    max-width: 260px;
    background-color: transparent;
    color: #35C71E;
    border: none;
    border-bottom: 1px solid #35C71E;
    border-radius: 0;
    cursor: pointer;
}

.form-select:focus {
    border: none;
    border-bottom: 1px solid #35C71E;
    box-shadow: none;
}

.form-select option {
    background-color: #212228;
}

/* --------------- Font Weights --------------- */

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

/* --------------- Header --------------- */

.focus-0 {
    outline: none;
}

.active {
    text-decoration: underline;
}

.list-group-item a,
.list-group-item a:focus,
.list-group-item a:hover {
    color: white;
}

header .dropdown-item:focus,
header .dropdown-item:hover {
    background-color: #212228;
}

.dropdown-divider  {
    border-top: 1px solid white;
    margin: 0;
}

/* --------------- Category Nav --------------- */

.category-wrapper .dropdown-item:focus,
.category-wrapper .dropdown-item:active,
.category-wrapper .dropdown-item.active,
.category-wrapper .dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #35C71E;
}

.category-wrapper .navbar-toggler:focus {
    box-shadow: none;
}

/* --------------- Home Page --------------- */

.carousel-item img {
    height: 100vw;
    max-height: 600px;
    object-fit: cover;
    opacity: .7;
}

.img-fluid {
    height: 100%;
    min-height: 260px;
    max-height: 500px;
}

.img-container {
    position: relative;
}

.img-container .btn {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

/* --------------- Allauth Forms --------------- */

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.form-control {
    border: none;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

.allauth-form-inner-content {
    margin: 100px 0 150px;
}

.allauth-form-inner-content div:not(:last-of-type) {
    margin-bottom: 40px !important;
}

#div_id_password {
    margin-bottom: 20px !important;
}

/* --------------- Products List --------------- */

.card-img-top {
    height: 300px;
}

.product-card {
    transition: box-shadow 0.3s ease;
}

.product-card:hover {
    box-shadow: -2px 2px 10px rgba(239, 239, 239, 0.2);
}

/* --------------- Breadcrumb Navigation --------------- */

.breadcrumb-row {
    overflow-x: auto;
}

.breadcrumb-row > nav {
    --bs-breadcrumb-divider: '>';
    max-width: 1000px;
    width: auto;
}

/* ********************************************* */
/* --------------- Media Queries --------------- */
/* ********************************************* */

/* Slightly larger container on xl screens */
@media (min-width: 1600px) {
    .container-lg {
      max-width: 80%;
    }
  }

/* --------------- Header --------------- */

@media (max-width: 400px) {
    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-icons {
        margin-left: 0 !important;
    }
}

/* --------------- Products List --------------- */

@media (max-width: 400px) {
    .card-img-top {
        height: 260px;
    }

    .product-container {
        width: 100%;
        margin: auto;
    }
}