{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="container my-5 text-center">
            <div class="row">
                <div class="col my-5">
                    <h2 class="">Oops, this page doesn't exist!</h2>
                    <hr class="my-5">
                    <a href="{% url 'home' %}" class="btn btn-green text-uppercase mt-3">Take me back to safety!</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}