{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'includes/category-nav.html' %}
    <main class="mb-5">
        <div class="container-fluid">
            <!-- Breadcrumb navigation -->
            <div class="product-container col-10 offset-1">
                <div class="row breadcrumb-row mt-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="underline-link" href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item"><a class="underline-link" href="{% url 'products' %}">All products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row text-uppercase text-center py-3">
                <div class="col">
                    <h2>{{ category }}</h2>
                </div>
            </div>
            <!-- Sorting select menu & product count -->
            <div class="row">
                <div class="product-container col-10 offset-1">
                    <div class="row">
                        <div class="col-12 col-sm-6 d-flex justify-content-center justify-content-sm-end order-sm-1 my-3">
                            <select id="sort-selector" class="form-select" aria-label="Sorting select menu">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                                <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                            </select>
                        </div>
                        <div class="col-12 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start my-3">
                            {% if cat_products.count == 1 %}
                                <p class="mb-0">{{ cat_products.count }} product</p>
                            {% else %}
                                <p class="mb-0">{{ cat_products.count }} products</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- If no products found -->
            {% if not cat_products %}
                <div class="row my-5">
                    <div class="col text-center">
                        <p>There are no products here yet.<br>Try widening your search and make sure to keep an eye out for new products!</p>
                    </div>
                </div>
            {% endif %}
            <!-- Products cards -->
            <div class="row">
                <div class="product-container col-10 offset-1">
                    <div class="row">
                        {% for product in cat_products %}
                            <div class="col-sm-6 col-lg-4 my-3">
                                <div class="card product-card bg-grey border-black h-100">
                                    {% if product.image %}
                                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                            <img class="card-img-top fit-scale p-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'product_detail' product.category.slug product.slug %}">
                                            <img class="card-img-top fit-scale p-3" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        </a>
                                    {% endif %}
                                    <div class="card-body">
                                        {% if product.brand %}
                                            <p class="text-muted mb-0">{{ product.brand }}</p>
                                        {% endif %}
                                        <a class="text-link" href="{% url 'product_detail' product.category.slug product.slug %}">
                                            <h4 class="card-title">{{ product.name }}</h4>
                                        </a>
                                        {% if product.avg_rating %}
                                            <div class="mb-3">
                                                <span class="product-star-rating">
                                                    <i class="fa-solid fa-star{% if product.avg_rating < 0.5 %}-o{% elif product.avg_rating >= 0.5 and product.avg_rating < 1 %}-half{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa-solid fa-star{% if product.avg_rating < 1.5 %}-o{% elif product.avg_rating >= 1.5 and product.avg_rating < 2 %}-half{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa-solid fa-star{% if product.avg_rating < 2.5 %}-o{% elif product.avg_rating >= 2.5 and product.avg_rating < 3 %}-half{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa-solid fa-star{% if product.avg_rating < 3.5 %}-o{% elif product.avg_rating >= 3.5 and product.avg_rating < 4 %}-half{% endif %}" aria-hidden="true"></i>
                                                    <i class="fa-solid fa-star{% if product.avg_rating < 4.5 %}-o{% elif product.avg_rating >= 4.5 and product.avg_rating < 5 %}-half{% endif %}" aria-hidden="true"></i>
                                                    <small>({{ product.review_set.all.count }})</small>
                                                </span>
                                            </div>
                                        {% else %}
                                            <p><small class="text-muted">No Rating</small></p>
                                        {% endif %}
                                        <p class="fw-6">
                                            ${{ product.price }}
                                        </p>
                                        <a class="btn btn-green btn-sm fw-4" href="{% url 'category' product.category.slug %}">
                                            <i class="fa-solid fa-tag"></i> {{ product.category }}
                                        </a>
                                        <!-- Product management for superusers -->
                                        {% if request.user.is_superuser %}
                                            <span class="float-end">
                                                <small>
                                                    <a href="{% url 'update_product' product.slug %}" class="text-link me-1">Update</a>
                                                </small>|
                                                <small>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ product.slug }}" class="text-link text-danger ms-1">Delete</a>
                                                </small>
                                            </span>

                                            <!-- Modal for deleting products -->
                                            <div class="modal fade" id="modal-{{ product.slug }}" tabindex="-1"
                                                aria-labelledby="delete-product-modal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content bg-grey border-black">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="delete-product-modal">Delete Product</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Are you sure you want to delete product:</p>
                                                            <p>"{{ product.brand }} {{ product.name }}"</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-green text-uppercase" data-bs-dismiss="modal">Cancel</button>
                                                            <form action="{% url 'delete_product' product.slug %}" method="POST"
                                                                class="d-inline">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-danger text-uppercase">Delete</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to top button -->
        <div>
            <a class="btt-link btn btn-green">
                <i class="fa-solid fa-arrow-up mt-2"></i>
            </a>
        </div>
    </main>

    <script>
        document.querySelector('.btt-link').onclick = function() {
            window.scrollTo(0,0);
        };
    </script>

    <script src="{% static 'js/sortSelector.js' %}"></script>
{% endblock %}