{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Something to match the category banner? -->
    <main>
        <div class="container">
            <!-- Breadcrumb navigation -->
            <div class="row breadcrumb-row mt-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="underline-link" href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a class="underline-link" href="{% url 'products' %}">All products</a></li>
                        <li class="breadcrumb-item"><a class="underline-link" href="{% url 'category' product.category.slug %}">{{ product.category }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                    </ol>
                </nav>
            </div>
            <!-- Product details section -->
            <div class="row">
                <div class="col-md-6">
                    {% if product.image %}
                        <a href="{{ product.image.url }}">
                            <img class="img-fluid fit-scale p-3" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="{{ MEDIA_URL }}noimage.png">
                            <img class="img-fluid fit-scale p-3" src="{{ MEDIA_URL }}noimage.png"
                            alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-6 my-3">
                    {% if product.brand %}
                        <p class="text-muted mb-0">{{ product.brand }}</p>
                    {% endif %}
                    <h4 class="card-title">{{ product.name }}</h4>
                    <!-- Rating goes here -->
                    <p>{{ product.description }}</p>
                    <p class="fw-6">
                        ${{ product.price }}
                    </p>
                    <!-- Add to cart form -->
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                <input type="submit" class="btn btn-green py-2 px-6 my-3" value="Add to Cart">
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                    <!-- Product management for superusers -->
                    {% if request.user.is_superuser %}
                    <span class="">
                        <small>
                            <a href="{% url 'update_product' product.slug %}" class="text-link me-1">Update</a>
                        </small>|
                        <small>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ product.slug }}" class="text-link text-danger ms-1">Delete</a>
                        </small>
                    </span>
    
                    <!-- Modal for deleting products -->
                    <div class="modal fade" id="modal-{{ product.slug }}" tabindex="-1"
                        aria-labelledby="delete-product-modal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg-grey border-black">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-product-modal">Delete Product</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete product:</p>
                                    <p>"{{ product.brand }} {{ product.name }}"</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-green" data-bs-dismiss="modal">Cancel</button>
                                    <form action="{% url 'delete_product' product.slug %}" method="POST"
                                        class="d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endif %}
            </div>
            <!-- Product review / ratings -->
            <div class="row my-5">
                <div class="col-12 col-lg-6 order-lg-last">
                    <h5>Write a Review</h5>
                    <hr>
                    {% if user.is_authenticated %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <p>Rating *</p>
                                <span class="star-rating">
                                    <input type="radio" name="rating" id="rating-5" value="5">
                                    <label for="rating-5" title="5"></label>
                                    <input type="radio" name="rating" id="rating-4" value="4">
                                    <label for="rating-4" title="4"></label>
                                    <input type="radio" name="rating" id="rating-3" value="3">
                                    <label for="rating-3" title="3"></label>
                                    <input type="radio" name="rating" id="rating-2" value="2">
                                    <label for="rating-2" title="2"></label>
                                    <input type="radio" name="rating" id="rating-1" value="1">
                                    <label for="rating-1" title="1"></label>
                                </span>
                            </div>
                            {{form.review|as_crispy_field}}
                            <button type="submit" class="btn btn-green mb-3">Submit</button>
                        </form>
                    {% else %}
                        <p>Please <a class="text-link" href="{% url 'account_login' %}">Sign In</a> or
                            <a class="text-link" href="{% url 'account_signup' %}">Register</a> to leave a review on a product.
                        </p>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}