<div class="toast bg-grey" role="status" aria-live="polite" aria-atomic="true" data-bs-autohide="false">
    <!-- <div class="container"> -->
        <div class="toast-header justify-content-between text-white bg-black">
            <strong class="fs-6">Success</strong>
            <button type="button" class="btn-close opacity-100 text-white h-100" data-bs-dismiss="toast" aria-label="Close">
                <i class="fa-solid fa-xmark fs-6"></i>
            </button>
        </div>
        <div class="toast-body">
            <div class="row">
                <div class="col">
                    {{ message }}
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>